.env
.env.*
!.env.example

venv/
.venv/

__pycache__/
*.py[cod]

.DS_Store

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

instance/

*.log

dist/
build/

*.sqlite
*.sqlite3

dump.sql
*.dump
*.bak
